# AVR Object files
*.elf
*.hex

# C Object files
*.o

# Kernel Object files
*.ko
*.mod.c
*.mod.o
*.ko.cmd
*.mod.o.cmd
*.o.cmd
.tmp_versions
*.symvers
*.order

# Shared Libraries
*.so
   
# Test binaries
ip6e_test
dll
echo_server
echo_client